/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
MAIN
*/
main {
    height: calc(100vh - 160px);
    overflow: auto;
}


.container-main {
    display: flex;
    max-width: 1750px;
    margin: 0 auto;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.container-main .container-window .window {
    position: relative;

}

.container-main .window .mic {
    position: absolute;
    bottom: 3px;
    left: 0px;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.25);

}

body {
    background-color: black;
    height: 100vh;
}





/*
HEADER
*/

header .menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

}

header .menu .buttons a {
    text-decoration: none;
    padding: 5px;
    color: white;
    background-color: rgba(182, 157, 157, 0.25);
    border-radius: 10px;
}

















/*
Footer
*/

footer {
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-flex {
    display: flex;
    gap: 15px;
}

.footer-left,
.footer-right {
    width: 15%;
}

.footer-left {
    padding-left: 10px;
}

.footer-right {
    display: flex;
    justify-content: right;
    height: 100%;
}

.btn.footer-tool i {
    font-size: 22px;
    margin-bottom: 5px;
}

.btn.chevron i {
    font-size: 10px;
}

.button-container.active .footer-tool i {
    color: #4bc800;
}

footer .btn.btn-secondary {
    padding: 20px;
    color: #ff0000;
    background-color: #4a4a4a;
}

footer button {
    background-color: #222222;
    border: none;
    color: white;
}



/*
  Scrollbar
  */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}